BPEL/BPEL_CallService/bpelContent/TaskWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="TaskWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="1.xsd"/>
</xsd:schema>
</types>
<message name="GetTasks">
<part name="parameters" element="tns:GetTasks"/>
</message>
<message name="GetTasksResponse">
<part name="parameters" element="tns:GetTasksResponse"/>
</message>
<message name="GetTask">
<part name="parameters" element="tns:GetTask"/>
</message>
<message name="GetTaskResponse">
<part name="parameters" element="tns:GetTaskResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="UpdateTask">
<part name="parameters" element="tns:UpdateTask"/>
</message>
<message name="UpdateTaskResponse">
<part name="parameters" element="tns:UpdateTaskResponse"/>
</message>
<message name="DeleteTask">
<part name="parameters" element="tns:DeleteTask"/>
</message>
<message name="DeleteTaskResponse">
<part name="parameters" element="tns:DeleteTaskResponse"/>
</message>
<message name="CreateTask">
<part name="parameters" element="tns:CreateTask"/>
</message>
<message name="CreateTaskResponse">
<part name="parameters" element="tns:CreateTaskResponse"/>
</message>
<portType name="ITaskWS">
<operation name="GetTasks">
<input wsam:Action="http://webservice/ITaskWS/GetTasksRequest" message="tns:GetTasks"/>
<output wsam:Action="http://webservice/ITaskWS/GetTasksResponse" message="tns:GetTasksResponse"/>
</operation>
<operation name="GetTask">
<input wsam:Action="http://webservice/ITaskWS/GetTaskRequest" message="tns:GetTask"/>
<output wsam:Action="http://webservice/ITaskWS/GetTaskResponse" message="tns:GetTaskResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice/ITaskWS/GetTask/Fault/Exception"/>
</operation>
<operation name="UpdateTask">
<input wsam:Action="http://webservice/ITaskWS/UpdateTaskRequest" message="tns:UpdateTask"/>
<output wsam:Action="http://webservice/ITaskWS/UpdateTaskResponse" message="tns:UpdateTaskResponse"/>
</operation>
<operation name="DeleteTask">
<input wsam:Action="http://webservice/ITaskWS/DeleteTaskRequest" message="tns:DeleteTask"/>
<output wsam:Action="http://webservice/ITaskWS/DeleteTaskResponse" message="tns:DeleteTaskResponse"/>
</operation>
<operation name="CreateTask">
<input wsam:Action="http://webservice/ITaskWS/CreateTaskRequest" message="tns:CreateTask"/>
<output wsam:Action="http://webservice/ITaskWS/CreateTaskResponse" message="tns:CreateTaskResponse"/>
</operation>
</portType>
<binding name="TaskWSPortBinding" type="tns:ITaskWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetTasks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="UpdateTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TaskWSService">
<port name="TaskWSPort" binding="tns:TaskWSPortBinding">
<soap:address location="http://localhost:8080/SOAPWS/TaskWS"/>
</port>
</service>
</definitions>